.main {
    background-image: url("../../public/assets/figure.png");
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0px 10%;
    flex-direction: column;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
    .main {
        background-size: auto 65%;
    }
  }
